<li class="my-1">
    {{burger_name}}

    <button class="eatBurger btn btn-danger btn-large" data-id="{{id}}" data-devourstate="{{devoured}}"
        data-burgername="{{burger_name}}">
        {{#if devoured}}Cook Again{{else}}Eat DAT Burgah!!{{/if}}
    </button>

    <button class="trashBurger btn btn-primary" data-id="{{this.id}}" data-burgername="{{burger_name}}"><i
            class="fas fa-trash-alt"></i></button>
</li>