<li>
    {{burger_name}}

    <button class="eatBurger" data-id="{{id}}" data-devourState="{{devoured}}">
    {{#if devoured}}Cook Again{{else}}Eat DAT Burgah!!{{/if}}
    </button>

    <button class="trashBurger" data-id="{{this.id}}">DELETE this burger</button>
</li>